In [1]:
import pandas as pd
df = pd.read_csv('startup_funding.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3009 entries, 0 to 3008
Data columns (total 10 columns):
Sr No                      3009 non-null int64
Date ddmmyyyy              3009 non-null object
Startup Name               3009 non-null object
Industry Vertical          2838 non-null object
SubVertical                2073 non-null object
City  Location             2829 non-null object
Investorsxe2x80x99 Name    2986 non-null object
InvestmentnType            3006 non-null object
Amount in USD              2049 non-null object
Remarks                    419 non-null object
dtypes: int64(1), object(9)
memory usage: 235.2+ KB

### Buat DataFrame yang mendeskripsikan Tiap Tiap kolom dari data Startup Funding

In [3]:
df['Sr No'].value_counts().index[:2].values

array([2047, 1014], dtype=int64)

In [4]:
df_overview = pd.DataFrame()
df_overview['dataFeatures'] = df.columns

tipe_data = []
for element in df.dtypes:
    tipe_data.append(str(element))
df_overview['dataType'] = tipe_data

df_overview['null'] = df.isnull().sum()

df_overview['nullPct'] = [round(df[element].isnull().sum()/len(df) * 100, 2) for element in df.columns]

df_overview['unique'] = df.nunique().values

unique = []
for element in df.columns:
    unique.append(df[element].value_counts().index[:2].values)
df_overview['uniqueSample'] = unique

In [5]:
df_overview

,dataFeatures,dataType,null,nullPct,unique,uniqueSample
0,Sr No,int64,NaN,0.00,3009,"[2047, 1014]"
1,Date ddmmyyyy,object,NaN,0.00,1013,"[02/02/2015, 08/07/2015]"
2,Startup Name,object,NaN,0.00,2439,"[Swiggy, Ola Cabs]"
3,Industry Vertical,object,NaN,5.68,811,"[Consumer Internet, Technology]"
4,SubVertical,object,NaN,31.11,1912,"[Online Lending Platform, Online Pharmacy]"
5,City Location,object,NaN,5.98,109,"[Bangalore, Mumbai]"
6,Investorsxe2x80x99 Name,object,NaN,0.76,2385,"[Undisclosed Investors, Undisclosed investors]"
7,InvestmentnType,object,NaN,0.10,50,"[Private Equity, Seed Funding]"
8,Amount in USD,object,NaN,31.90,500,"[1,000,000, 500,000]"
9,Remarks,object,NaN,86.08,72,"[Series A, Series B]"

### Hapus Kolom Remarks

In [6]:
df = df.drop('Remarks',axis=1)

### Hapus data yang kolom Industry Vertical dan Subverticalnya Kosong

In [7]:
idx_to_drop = df[(df['Industry Vertical'].isnull()) & (df['SubVertical'].isnull())].index

In [8]:
df.drop(idx_to_drop, inplace=True)

### Hapus data yang Investorsxe2x80x99 Name atau InvestmentnType kosong atau City Location nya Kosong atau amount in usd nya kosong

In [9]:
df.dropna(subset=['Investorsxe2x80x99 Name', 'InvestmentnType', 'City  Location', 'Amount in USD'], inplace=True)

### Ubah Nama Kolom Investorsxe2x80x99 Name menjadi Investor

In [10]:
df.rename({
    'Investorsxe2x80x99 Name' : 'Investor'
}, axis=1, inplace=True)

### Isi Kolom Subvertical yang kosong dengan kolom Industry Verticalnya

In [11]:
def fill_subver(data):
    if pd.isnull(data['SubVertical']):
        return data['Industry Vertical']
    else:
        return data['SubVertical']

In [12]:
df['SubVertical'] = df.apply(fill_subver, axis=1)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1893 entries, 0 to 2837
Data columns (total 9 columns):
Sr No                1893 non-null int64
Date ddmmyyyy        1893 non-null object
Startup Name         1893 non-null object
Industry Vertical    1893 non-null object
SubVertical          1893 non-null object
City  Location       1893 non-null object
Investor             1893 non-null object
InvestmentnType      1893 non-null object
Amount in USD        1893 non-null object
dtypes: int64(1), object(8)
memory usage: 147.9+ KB

### Hapus data dengan kolom Amount in USD Mengandung Alphabet

In [56]:
df['Amount in USD'].loc[74] = df['Amount in USD'].loc[74].replace('+', '')

In [62]:
index = []
for idx in df['Amount in USD'].index:
    count = 0
    for item in df['Amount in USD'].loc[idx]:
        if item.isdigit():
            count += 0
        else:
            if item == '.':
                count += 0
            elif (item != ','):
                count += 1
    if count > 0:
        index.append(idx)

In [ ]:
df.drop(index, inplace=True)

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1877 entries, 0 to 2837
Data columns (total 9 columns):
Sr No                1877 non-null int64
Date ddmmyyyy        1877 non-null object
Startup Name         1877 non-null object
Industry Vertical    1877 non-null object
SubVertical          1877 non-null object
City  Location       1877 non-null object
Investor             1877 non-null object
InvestmentnType      1877 non-null object
Amount in USD        1877 non-null object
dtypes: int64(1), object(8)
memory usage: 226.6+ KB

### Ubah type data kolom Amount in USD Menjadi int64 , ubah dulu semua koma di data menjadi string kosong dan ubah juga selain angka menjadi string kosong

In [73]:
def change_to_float(ser):
    return ser.replace(',', '')

In [75]:
df['Amount in USD']= df['Amount in USD'].apply(change_to_float)

In [79]:
df['Amount in USD'] = df['Amount in USD'].astype('float')

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1877 entries, 0 to 2837
Data columns (total 9 columns):
Sr No                1877 non-null int64
Date ddmmyyyy        1877 non-null object
Startup Name         1877 non-null object
Industry Vertical    1877 non-null object
SubVertical          1877 non-null object
City  Location       1877 non-null object
Investor             1877 non-null object
InvestmentnType      1877 non-null object
Amount in USD        1877 non-null float64
dtypes: float64(1), int64(1), object(7)
memory usage: 226.6+ KB

### Cari Lima Startup Yang Mendapat Pendanaan Paling Banyak

In [90]:
five_start_up = df.sort_values('Amount in USD', ascending=False).head()['Startup Name'].values
print('Lima Startup dengan Pendanaan Paling Banyak \n')
for start_up in five_start_up:
    print(start_up)

Lima Startup dengan Pendanaan Paling Banyak

Rapido Bike Taxi
Flipkart
Paytm
Flipkart
Flipkart.com

### Cari Lima Investor Yang mengeluarkan uang paling banyak

In [92]:
five_investor = df.sort_values('Amount in USD', ascending=False).head()['Investor'].values
print('Lima Investor dengan Pengeluaran Paling Banyak  \n')
for start_up in five_investor:
    print(start_up)

Lima Investor dengan Pengeluaran Paling Banyak

Westbridge Capital
Softbank
SoftBank Group
Microsoft, eBay, Tencent Holdings
Steadview Capital and existing investors

### Cari lima industri Vertical dengan Pendanaan Paling Banyak

In [99]:
five_industry = df.groupby('Industry Vertical').sum().sort_values('Amount in USD', ascending=False).head().index
print('Lima Industri dengan Pendanaan Paling Banyak  \n')
for start_up in five_industry:
    print(start_up)

Lima Industri dengan Pendanaan Paling Banyak

Consumer Internet
eCommerce
Transportation
Technology
ECommerce